{
  "extends": "eslint:recommended",
  "root": true,
  "rules": {
    // enable additional rules
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "off"
    ],
    // override default options for rules from base configurations
    "comma-dangle": [
      "error",
      "always"
    ],
    "no-cond-assign": [
      "error",
      "always"
    ],
    // disable rules from base configurations
    "no-console": "off",
  }
}
