/*

Based on:
https://ricostacruz.com/til/css-media-query-breakpoints
http://javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml
https://zellwk.com/blog/media-query-units/
https://github.com/zellwk/mappy-breakpoints

  Breakpoint	Purpose
  (default)	Mobile-portrait
  min-width: 480px	Mobile-landscape (and larger)
  min-width: 768px	Tablet-portrait (and larger)
  min-width: 992px	Tablet-landscape (and larger)
  min-width: 1200px	Laptops (and langer)
*/

/*
@custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);
@media (--viewport-4) {
  // ... 
}
*/

/* REMEMBER
Set font-size: 10 in HTML element
Set font-size: 1.6em in Body */
HTML {
  font-size: 10;
}

body {
  font-size: 1.6em;
}

/* 
  ##Device = Mobile-portrait (and larger)
  ##Screen = B/w 0px to 479px
*/
@media (min-width: 0em) {

}

/* 
  ##Device = Low Resolution Tablets, Mobile-landscape (and larger)
  ##Screen = B/w 481px to 767px
  // 480px / 16 = 30 (browser font-size default)
  // 480px / 10 = 48 (propose browser font-size = 10)
*/
@media (min-width: 48em) {

}

/* 
  ##Device = 	Ipad and Tablet-portrait (and larger)
  ##Screen = B/w 768px to 991px
  // 768px / 16 = 48 (browser font-size default)
  // 768px / 10 = 76.8 (propose browser font-size = 10)
*/
@media (min-width: 76.8em), (max-device-width: 48em) and (orientation: portrait) {

}

/* 
  ##Device = 	Ipad and Tablet-landscape (and larger)
  ##Screen = B/w 992px to 1199px
  // 992 / 16 = 62 (browser font-size default)
  // 992 / 10 = 99.2 (propose browser font-size = 10)
  // 640 / 16 = 40 (browser font-size default)
  // 640 / 10 = 64 (propose browser font-size = 10)
*/
@media (min-width: 99.2em) and (orientation: landscape), (max-device-width: 64em) and (orientation: landscape) {

}

/* 
  ##Device = Laptops, Desktops (and langer)
  ##Screen = B/w 1200px to higher resolution desktops
  // 1200 / 16 = 75 (browser font-size default)
  // 1200 / 10 = 120 (propose browser font-size = 10)
*/

@media (min-width: 120em) {

}