/*

Based on:
https://ricostacruz.com/til/css-media-query-breakpoints
http://javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml
https://zellwk.com/blog/media-query-units/
https://github.com/zellwk/mappy-breakpoints

  Breakpoint	Purpose
  (default)	Mobile-portrait
  min-width: 480px	Mobile-landscape (and larger)
  min-width: 768px	Tablet-portrait (and larger)
  min-width: 992px	Tablet-landscape (and larger)
  min-width: 1200px	Laptops (and langer)
*/

/*
@custom-media --viewport-4 (min-width: 480px);
@custom-media --viewport-7 (min-width: 768px);
@custom-media --viewport-9 (min-width: 992px);
@custom-media --viewport-12 (min-width: 1200px);
@media (--viewport-4) {
  // ...
}
*/

/* REMEMBER
Set font-size: 10 in HTML element
Set font-size: 1.6em in Body */
HTML {
  font-size: 10;
}

body {
  font-size: 1.6rem;
}

/*
  ##Device = Mobile-portrait (and larger)
  ##Screen = B/w 0px to 479px
*/
@media (min-width: 0em) {

}

/*
  ##Device = Low Resolution Tablets, Mobile-landscape (and larger)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 480px) {

}

/*
  ##Device = 	Ipad and Tablet-portrait (and larger)
  ##Screen = B/w 768px to 991px
*/
@media (min-width: 768px), (min-width: 768px) and (max-device-width: 480px) and (orientation: portrait) {

}

/*
  ##Device = 	Ipad and Tablet-landscape (and larger)
  ##Screen = B/w 992px to 1199px
*/
@media (min-width: 992px) and (orientation: landscape),(min-width: 992px) and (max-device-width: 640px) and (orientation: landscape) {

}

/*
  ##Device = Laptops, Desktops (and langer)
  ##Screen = B/w 1200px to higher resolution desktops
*/

@media (min-width: 1200px) {

}

/*
Without comments
*/
@media (min-width: 0em) {

}

@media (min-width: 480px) {

}

@media (min-width: 768px), (min-width: 768px) and (max-device-width: 480px) and (orientation: portrait) {

}

@media (min-width: 992px) and (orientation: landscape), (min-width: 992px) and (max-device-width: 640px) and (orientation: landscape) {

}

@media (min-width: 1200px) {

}
